html {
  width: 100%;
  height: 100%;
  font-family: "arial";
  background-color: #000;
}

.btn-circle,button,a, img{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:focus {
  outline: none !important;
}

body {
  margin:30px;
  height: 90%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 60px;
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid #FFF;
  margin:0 auto;
  transition: all 0.1s linear;
}
button span {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
button:hover {
  animation: rotate 0.7s ease-in-out both;
  box-shadow:0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
transform: scale(1.3) rotate(-20deg);
}
button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}



.container,#fin{
  width: 1200px;
  margin:0 auto;
  text-align: center;
  font-family: 'Patrick Hand', cursive;
}

#contador{
color:#FFF;
font-size: 80px;
margin-bottom: 50px;
}
#pregunta{
min-height: 100px;
min-width: 800px;
display: inline-block;
border-radius: 40px;
background-color: rgba(0,0,0,0.2);
padding: 20px;
margin-bottom: 50px;
color:#FFF;
font-size: 20px;
width: 800px;
}

.tituloFin{
margin-bottom: 30px;
font-size: 80px;
color:#FFF;
}
#fin a{
text-decoration: none;
}

.goHome{
display: block;
margin-top: 30px;
opacity: 0.8;
color:#000
}


.btn-circle{
font-size: 26px;
width: 50px;
height: 50px;
border-radius: 50%;
background-color:#FFF;
color:#000;
text-align: center;
display:inline-block;
margin-right:15px;
margin-bottom: 15px;
line-height: 50px;
transition: all 0.1s linear;
}
.btn-circle:hover{
box-shadow:0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
transform: scale(1.3) rotate(-20deg);
opacity: 1;
cursor:pointer;
}
h2{
font-size: 50px;
color:#FFF
}

#sound{
  position: absolute;
  left: 50px;
  top: 50px;
  opacity: 0.7;
}
#sound:hover{
  cursor: pointer;
}

#sound svg:first-child{
  display: block;
}
#sound svg:last-child{
  display: none;
}

#sound.active svg:first-child{
  display: none;
}
#sound.active svg:last-child{
  display: block;
}



@media (max-width: 600px) {
  .btn-circle{
    margin: 7px!important;
  }
}

@media (max-width: 900px) {
  #sound{
    top: 30px;
    left: 30px;
  }
  body{
    margin:15px;
    height: calc(100vh - 30px);
    align-items:inherit
  }
  h2{
    margin-top: 0;
    font-size: 35px;
  }
 #contianer{
   width: 100%;
 }
  #logo{
    margin-top: 50px;
   width: 80%;
 } 
 .btn-circle{
   margin: 10px;
 }
 #pregunta h1{
  font-size: 25px}
 #pregunta{
   display: block;
   margin: 15px;
   margin-top: 80px;
   min-width: inherit;
   box-sizing: border-box;
   width: auto!important;;
 }
 #contador{
   margin-bottom: 5px;
 }
 #fin{
   margin-top: 50%!important;
 }
}